a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #e08000;
  margin: 0;
  height: 75px;
}

.logo {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.logo:hover {
  color:black;
  transition: all 0.5s ease;
}

.nav__text {
  margin-left: 50px;
}

.nav__text:hover {
  color:black;
  transition: all 0.3s ease;
}