.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px 30px 200px;
  align-items: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);

  &__logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;

    &:hover {
      color: black;
      transition: all 0.5s ease;
    }
  }

  &__films-text {
    font-weight: bold;
    color: white;
  }
}

.hoverable {
  transition: box-shadow .25s;
}

.hoverable:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}