.card {
  &-container {
    position: relative;
    width: 30%;
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
  }

  &-add-button {
    box-shadow: rgb(15 101 49) 0px 0px 12px 1px;
    background-color: rgb(221, 221, 221);
    color: rgb(52, 78, 3);
    font-weight: 600;
    font-size: 12px;
    width: 50%;
    padding: 10px 5px;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid black;
    }
  }

  &-name {
    margin-top: 15px;
    margin-bottom: 15px;

  }

  &-price {
    background-color: #b22c24;
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

h3 {
  margin: 0;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 7px;
  color: black;
  font-size: 35px;

  &:hover,
  &:focus {
    cursor: pointer;
    font-weight: bold;
  }
}
