.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.case-name {
  color: #e08000;
  font-size: 30px;
  margin-top: 20px;
}

.case__line {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
  border-color: #e08000;
}

h2 {
  margin: 0;
}