.film {
  &__container {
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    background-color: #546e7a;
    color: white;
    padding: 10px 0;

    &-content {
      display: flex;
      justify-content: space-between;
      margin:0 30px;
    }
  }

  &__details {
    cursor: pointer;
  }

  &__info {
    text-align: left;
    margin-left: 30px;
  }

  &__title {
    font-weight: bold;
  }

  &__delete-btn {
    text-align: center;
  }
}