.header {
  display: flex;
  justify-content: space-between;
  padding: 0 300px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0;
}

.logo {
  height: 100px;
}

.trash {
  height: 100px;
}

.hearth {
  height: 100px;
}