.card {
  &__container {
    position: relative;
    width: 18%;
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
  }

  &__name {
    padding: 5px 0;
    background-color: #b22c24;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__delete {
    position: absolute;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
  }

  &__link {
    cursor: pointer;
  }

  &__img {
    width: 100%;
    cursor: pointer;
  }

  &__edit {
    position: absolute;
    top: 10px;
    right: 35px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
