.main {
  &__container {
    margin: 50px 150px 30px 150px;
    padding: 30px 200px 30px 200px;
    background-color: rgba(255,255,255,.1);
    min-height: 700px;
  }

  &__add-film {
    font-size: 20px;
    color: white;
    padding: 10px 0;
    background-color: #546e7a;
  }

  &__title {
    color: white;
  }

  &__expand {
    margin-left: 30px;
  }

  &__search {
    margin-top: 20px;
  }

  &__pages-container {
    margin: 20px 0;
  }

  &__page {
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
  }

  &__current-page {
    border: 2px solid red;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    color: red;
    cursor: pointer;
    font-weight: bold;
  }
}