h2 {
  margin: 0;
}

.main {
  &__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__case-name {
    color: #e08000;
    font-size: 30px;
    margin-top: 20px;
  }

  &__case__line {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    border-color: #e08000;
  }

  &__pages-container {
    margin: 20px 0;
  }

  &__page {
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
  }

  &__current-page {
    border: 2px solid red;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    color: red;
    cursor: pointer;
    font-weight: bold;
  }
}