.App {
  text-align: center;
}

.start{
  margin-top: 20%;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #007042;
  padding:20px 40px;
  cursor: pointer;
}