.form {
  &__container {
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
  }

  &-submit {
    display: block;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #e08000;
    border-radius: 4px;
    width: 100%;
    padding: 10px 0 10px 0;
    cursor: pointer;

    &:hover {
      background-color: #814900;
      transition: 0.5s;
    }
  }

  &__format {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    height: 25px;
    margin-bottom: 20px;
    width: 100%;
  }

  &__edit {
    color: #e08000;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
  }
}

