.info {
  &__img {
    width: 400px;
    margin-right: 100px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 100px 400px;
    font-size: 16px;
  }

  &__characteristics {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;

    &__text-grey {
      font-size: 14px;
      color: #57646E;
      font-weight: bold;
    }

    &__text-black {
      font-size: 14px;
      color: #000000;
    }
  }
}